@import "normalize";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic);

// All the rest of the folders are relative to 'media-folder'
// Eg: 'media/icons/'
$location: ( 'media-folder': '../media' );
$color: (
	'default-text': #111111,
	'footer-link': #27ae60,
	'default-bk': #FFFFFF,
	'input-border': #D9D9D9,
	'input-border-hover': #b9b9b9,
	'input-border-top-hover': #a0a0a0,
	'input-border-active': #4d90fe,
	'input-placeholder': #cccccc,
	'input-bk': #FFFFFF,
	'button-bk': #4285F4,
	'button-bk-hover': #3B78E7,
	'button-bk-active': #3367D6,
	'link': #4285F4,
	'link-active': #3367D6,
	'article-description': #555555,
	'warning': tomato
);
$sprite: (
	'default': 'sprites/rg-fcc-wiki-sprite_v1.svg',
	'alt': 'sprites/rg-fcc-wiki-sprite_v1.png'
);
$sprite-position: (
	'github-light': 0px 0px,
	'github-dark': -57px 0px,
	'magglass': -31px -32px,
	'wikipedia': -56px 0px,
	'random': 0px -32px
);
$icon: (
	github: 'icons/rg-fcc-icon-github_v1.svg',
	github-alt: 'icons/rg-fcc-icon-github_v1.png'
);
$image: (
);
$animation: (
	preloader: 'animated/preloader.gif'
);

@mixin debug {
	border:1px dashed tomato;
}
@mixin background_image($image, $image-alt: '') {
	background: url( map-get($location, 'media-folder') + '/' + $image-alt );
	background-image: url( map-get($location, 'media-folder') + '/' + $image ), none;
	background-repeat: no-repeat;
}
@mixin sprites_defaults {
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: top;
	@include background_image(
		map-get($sprite, 'default'),
		map-get($sprite, 'alt')
	);
	background-position: 0px 0px;
}
@mixin absolute_center {
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}
@mixin traditional_center($width: 400px) {
	.outer {
		display: table;
		position: absolute;
		height: 100%;
		width: 100%;
	}
	.middle {
		display: table-cell;
		vertical-align: middle;
	}
	.inner {
		margin-left: auto;
		margin-right: auto;
		width: $width;
	}
}
@mixin disable_text_selection {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
@mixin enable_text_selection {
	-webkit-touch-callout: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}
@mixin fcc_footer {
	display: none;
	top: auto;
	bottom: 0;
	padding: 10px 10px 10px 10px;
	text-align: center;
	font-size: 11px;
	position: fixed;
	z-index: 1;
	@media (min-height: 800px) {
		display: block;
		padding: 10px 10px 20px 10px;
	}
	width: 100%;
	a {
		color: map-get($color, 'footer-link');
		text-decoration: none;
	}
	.brand {
		color: map-get($color, 'default-text');
		text-decoration: underline;
		font-weight: bold;
	}
	p {
		margin: 0 0 4px 0px;
	}
	.github {
		display: block;
		outline: 0;
		.icon {
			@include sprites_defaults;
			vertical-align: top;
			margin: 0px 0 0 0;
			display:inline-block;
			height: 26px;
			width: 26px;
			@include background_image(
				map-get($icon, 'github'),
				map-get($icon, 'github-alt')
			);
			background-position: map-get($sprite-position, 'github-dark');
		}
		&:focus {
			outline: 0;
		}
	}
}
@mixin default_transition($propriety, $speed: .2s, $effect: ease-in-out) {
	-webkit-ransition: $propriety $speed $effect;
	-moz-transition: $propriety $speed $effect;
	-ms-transition: $propriety $speed $effect;
	transition: $propriety $speed $effect;
}
@mixin border_radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}
@mixin placeholder($color, $style: italic) {
	&::-webkit-input-placeholder {
		background-color: transparent;
		color: $color;
		font-style: $style;
	}
	&::-moz-placeholder {
		background-color: transparent;
		color: $color;
		font-style: $style;
	}
	&:-moz-placeholder {
		background-color: transparent;
		color: $color;
		font-style: $style;
	}
	&:-ms-input-placeholder {
		background-color: transparent;
		color: $color;
		font-style: $style;
	}
}
* {
	box-sizing: border-box;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
html {
	background-color: map-get($color, 'default-bk');
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: map-get($color, 'default-text');
}
footer { @include fcc_footer; }
.boiler {
	@include absolute_center;
	height: 50px;
	p {
		text-align: center;
		font-style: italic;
	}
}
.icon {
	@include sprites_defaults;
	&.magglass {
		background-position: map-get($sprite-position, 'magglass');
		margin: 1px -2px 0 0;
	}
	&.wikipedia {
		background-position: map-get($sprite-position, 'wikipedia');
		width: 74px;
		height: 48px;
	}
	&.random {
		background-position: map-get($sprite-position, 'random');
		width: 21px;
		margin: 1px 0 0 2px;
	}
	&.loader {
		width: 32px;
		height: 32px;
		@include background_image(map-get($animation, 'preloader'));
	}
}
.results {
	.search {
		height: auto;
		position: static;
		margin: 0 auto 0 auto;
		top: auto;
		right: auto;
		bottom: auto;
		left: auto;
	}
	.lucky { display: none; }
	.error { .lucky { display: block; } }
	.noresults { .lucky { display: block; } }
	footer {
		bottom: auto;
		position: static;
	}
}
.search {
	@include absolute_center;
	height: 250px;
	width: 100%;
	padding: 20px 20px 20px 20px;
	text-align: center;
	@media (min-width: 600px) {
		width: 560px;
	}
	@media (min-width: 600px) { height: 300px; }
	@media (min-width: 800px) { height: 350px; padding: 50px 20px 20px 20px; }
}
.logo {
	text-align: center;
	margin: 0 0 20px 0;
	@media (min-width: 600px) { margin: 0 0 50px 0; }
}
.input-wrapper {
	margin: 0 -4px 0 0;
	display: inline-block;
	width: 100%;
	vertical-align: top;
	input {
		font-size: 13px;
		padding: 5px 60px 5px 10px;
		@media (min-width: 600px) { padding: 5px 75px 5px 10px; }
		width: 100%;
		@include border_radius(1px);
		border: 1px solid map-get($color, 'input-border');
		outline: 0;
		@include placeholder(map-get($color, 'input-placeholder'));
		background: map-get($color, 'input-bk');
		@include default_transition(border-color);
		&:hover {
			outline: 0;
			border-color: map-get($color, 'input-border-hover');
			border-top-color: map-get($color, 'input-border-hover-top');
		}
		&:focus {
			outline: 0;
			border-color: map-get($color, 'input-border-active');
		}
	}
	button {
		display: inline-block;
		width: 50px;
		height: 50px;
		@include border_radius(25px);
		margin: -40px 5px 0 0px;
		@media (min-width: 600px) { margin: -40px 20px 0 0px; }
		position: relative;
		float: right;
		outline: 0;
		border: 0px;
		background-color: map-get($color, 'button-bk');
		text-align: center;
		@include default_transition(background-color);
		&:hover {
			outline:0;
			background-color: map-get($color, 'button-bk-hover');
		}
		&:active {
			outline:0;
			background-color: map-get($color, 'button-bk-active');
		}
	}
}
.lucky {
	margin: 10px 0 0 0;
	text-align: center;
	font-size: 12px;
	a {
		text-decoration: none;
		color: map-get($color, 'link');
		@include default_transition(text-decoration);
		&:hover { text-decoration: underline; }
		&:active { color: map-get($color, 'link-active'); }
	}
}
.entries {
	display: none;
	margin: 0px auto 0 auto;
	padding: 0px 20px 40px 20px;
	@media (min-width: 600px) {
		width: 560px;
	}
}
.article {
	margin: 20px 0 0 0;
	.title {
		font-size: 15px;
		a {
			color: map-get($color, 'link');
			text-decoration: none;
			&:hover { text-decoration: underline; }
			&:active { color: map-get($color, 'link-active'); }
		}
	}
	.description {
		font-size: 13px;
		font-style: italic;
		color: map-get($color, 'article-description');
	}
}
.error {
	display: none;
	margin: 0 0 40px 0;
	.warning {
		text-align: center;
		font-size: 13px;
		color: map-get($color, 'warning');
	}
}
.loading {
	display: none;
	margin: 20px 0 0 0;
	text-align: center;
}
.noresults {
	display: none;
	text-align: center;
	margin: 0 0 40px 0;
	p {
		font-size: 13px;
	}
	.lucky {
		font-size: 12px;
	}
}
